body {
  font-family: 'Courier New', monospace;
  text-align: center;
  background: #efefef;
}

p {
  margin: 0;
}

.main {
  height: 200px;
  width: 1000px;
  margin: 0 auto;
  border: solid;
}

.btn {
  font-size: 32px;
  letter-spacing: .1em;
  width: 1000px;
  height: 80px;
  line-height: 80px;
  margin: 30px auto;
  cursor: pointer;
  opacity: 0.5;
}

.btn:hover {
  opacity: 0.6;
}

#target {
  font-size: 48px;
  letter-spacing: .1em;
  height: 200px;
  line-height: 200px;
}

#result {
  font-size: 40px;
  margin-top: 20px;
}

.select_level {
  display: flex;
  width: 800px;
  padding: 0 100px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 30px;
  padding-top: 20px;
}

.select_level div {
  cursor: pointer;
}

.count_down {
  display: none;
  height: 200px;
  line-height: 200px;
  width: 100px;
  margin: 0 auto;
  font-size: 50px;
}

.footer {
  background: #DDDDDD;
  height: 150px;
  width: 1000px;
  padding-top: 10px;
  margin: 0 auto;
}

.disappear {
  display: none;
}

.current {
  display: block;
}