<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>JavaScriptで作れるミニゲーム</title>
  <link rel="stylesheet" href="../static/css/styeles.css" th:href="@{/css/styeles.css}">
</head>

<body>
  <h1>JavaScriptで作れるミニゲーム集</h1>
  <h2>さあ！さっそく遊んでみよう！！</h2>

  <a href="omikuji.html" th:href="@{/omikuji}">
    <p>おみくじゲーム</p>
  </a>
  <a href="#">
    <p>ビンゴ</p>
  </a>
  <a href="#">
    <p>カレンダー</p>
  </a>
  <a href="#">
    <p>ストップウォッチ</p>
  </a>
  <a href="typing.html" th:href="@{/typing}">
    <p>タイピングゲーム</p>
  </a>

  <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>
